body {
  margin: 0;
  background-color: rgb(12,30,50);
}

input{
  height: 40px;
  width: 200px;
  margin-right: 10px;
  margin-top: 10px;
  border-color: #bdc7d8;
  border-radius: 5px;
}
#btn_signin{
  height: 50px;
  width: 250px;
  background: linear-gradient(orange, white);
  background-color: rgb(100,100,200);
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: rgb(12,30,50);                                 /* font-family fallback system : whichever font is available out of all mentioned*/
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important; /*!important is used to override inline css */
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; /* cursor changes when hovering on the button*/
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5); /* x y z color, 'a' in rgba is for opacity*/
}
.position{
  margin-left: 40%;
}