
body {
  margin: 0;
  background-color: rgb(12,30,50);
}
nav{
  display: flex;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: rgb(59, 89, 152);
}

#create-account{
  height: 50px;
  width: 250px;
  background: linear-gradient(orange, white);
  background-color: rgb(100,100,200);
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: rgb(12,30,50);                                
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important; 
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; 
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5); 
}
.sign-up-form{
  margin-top: 0px;
  margin-left: 500px;
  height: 700px;
  width: 500px;
}
input{
  height: 40px;
  width: 200px;
  margin-right: 10px;
  margin-top: 10px;
  border-color: #bdc7d8;
  border-radius: 5px;
}
#gen
{
  color: white;
}